/*
 * enable modules
 */
$use-nav: true;
$use-grids: true;
$use-island: true;
$use-media: true;



/*
 * user variables
 */
$lap-start: 681px!default;
$desk-start: 1148px!default;
$max-width: 1100px!default;
$small-max-width: 700px!default;
$border-radius: 4px!default;


$h1-size:           36px; // .alpha
$h2-size:           24px; // .beta
$h3-size:           20px; // .gamma
$h4-size:           18px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        12px;
$micro-size:        10px;


$english-quotes:    true;
