/*
 * enable modules
 */
$use-nav: true;
$use-grids: true;
$use-island: true;
$use-media: true;



/*
 * user variables
 */
$lap-start: 681px!default;
$desk-start: 1148px!default;
$max-width: 1100px!default;
$small-max-width: 700px!default;
$border-radius: 4px!default;