@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch style.scss:style.min.css --style compressed
 * 
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */








/**
  *  Setup
  */
@use "sass:math";
@import "vars";
@import "inuit.css/inuit";
@import "ui/color";


:root {
  // OLD
  // --hugy-link-color: #{$red};
  // --hugy-menu-bg: #{$gray-dark};
  // --hugy-menu-color: #{$white};
  // --hugy-news-bg: rgba(0, 0, 0, 0.3);
  // --hugy-icon-color: #{$black};
  // --hugy-icon-color-hover: #{$white};
  // --hugy-icon-bg: rgba(0, 0, 0, 0.1);
  // --hugy-icon-bg-hover: rgba(0, 0, 0, 0.9);
  
  // NEW
  --hugy-link-color: #{$green};
  --hugy-menu-bg: #{$green};
  --hugy-menu-color: #{$white};
  --hugy-news-bg: #{$black-30};
  --hugy-top-icon-color: #{$white};
  --hugy-top-icon-color-hover: #{$green};
  --hugy-top-icon-bg: #{$green};
  --hugy-top-icon-bg-hover: #{$green-30};
  --hugy-footer-bg: #{$gray-dark};
  --hugy-footer-icon-color: #{$white};
}

@import "ui/contact";
@import "ui/fonts";
@import "ui/footer";
@import "ui/general";
@import "ui/header";
@import "ui/home";
@import "ui/icons";
@import "ui/iefixes";
@import "ui/menu";
@import "ui/modules";
@import "ui/page";
@import "ui/search";
@import "ui/program-icons";
@import "ui/related";

