$black: #333!default;
$white: #fff!default;
$green: #14A585!default;
$green-light: rgba(20, 165, 133, 0.3)!default;
$green-30: rgba(20, 165, 133, 0.3)!default;
$green-70: rgba(20, 165, 133, 0.7)!default;
$blue: #63C2C7!default;
$purple: #7C1473!default;
$yellow: #F6E528!default;
$orange: #F18200!default;
$red: #D9050D!default;

$gray-light: #f0f0f0!default;
$gray-dark: #3a3737!default;
$gray-darker: #4a4747!default;


@mixin color($title, $bg, $text){
	.#{$title} {
		background-color: $bg;
		color: $text;
		a {
			color: $text;
		}
	}
	.#{$title}-background {
		background-color: $bg;
	}
	.#{$title}-text {
		color: $bg;
		a {
			color: $bg;
		}
	}

	
}

@include color("black", $black, $white); 
@include color("white", $white, $black); 
@include color("green", $green, $white); 
@include color("green-light", $green-light, $black); 
@include color("blue", $blue, $black); 
@include color("purple", $purple, $white); 
@include color("yellow", $yellow, $black); 
@include color("orange", $orange, $black); 
@include color("red", $red, $white); 
@include color("gray-light", $gray-light, $black); 
@include color("gray-dark", $gray-dark, $white); 
@include color("gray-darker", $gray-darker, $white); 
