.content-wrapper {
	.contact {
		h2 {
			@extend .header;
		}
		.titel {
			margin-top: -28px;
			padding-bottom: 28px;
		}
		margin-bottom: 12px;
		position: relative;
		span {
			display: block;
		}
	}
}
.contacts-wrapper {
	h2 {
		@extend .italic;
		@extend .green-text;
		@extend .flush--bottom;
		font-weight: normal;
	}
	.contacts {
		@extend .black-text;
		@extend .green-30-background;
		@extend .islet;
		.contact {
			margin-bottom: 12px;
			position: relative;
			h2.title {
				@extend .delta;
				@extend .black-text;
			}
			.contact-data {
				@extend .islet;
				@extend .white;
				box-shadow: 2px 2px 10px #666;
				display: none;
				left: 40px;
				position: absolute;	
				top: 10px;
				z-index: 200;
			}
			span {
				display: block;
			}
			&:hover {
				.contact-data {	
					display: block;
				}
			}
		}
	}
}