.pre-footer-padding {
	height: 0px;
}
.pre-footer {
	@extend .black;
}
#betaicon {
	top: 0px;
	position: fixed;
	cursor: pointer;
	right: 30%;
	text-align: center;
	z-index: 250;
}
.up-icon {
	bottom: 20px;
	position: fixed;
	cursor: pointer;
	right: 20px;
	text-align: center;
	z-index: 200;
	span {
		@extend .white-text;
		@extend .zeta;
		display: inline-block;
		margin: 20px 0 0;
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg);
	}
}
footer {
	@extend .green;
	a {
		border-bottom: 1px dotted white;
	}
	.footer-div {
		@extend .max-width--center;
		.footer-container {	
			padding-top: 24px;
			@extend .grid;
			h2 {
				@extend .italic;
				@extend .flush--bottom;
			}
			.widget {
				@extend .grid__item;
				overflow: hidden;
				ul {
					list-style-type: none;
					margin-left: 0px;
				}
			}
			/* if less than 4 widgets */
			@for $i from 1 through 4 {
				.widget:first-child:nth-last-child(#{$i}),
				.widget:first-child:nth-last-child(#{$i}) ~ .widget {
					width: 100%/$i }
			} 
			/* if more than 4 widgets */
			@for $i from 5 through 8 {
				.widget:first-child:nth-last-child(#{$i}),
				.widget:first-child:nth-last-child(#{$i}) ~ .widget {
					width: 200%/$i }
			} 
			.widget {
				display: inline-block;
			}
		}
	}
	.copyright {
		@extend .one-whole;
		@extend .black;
		display: inline-block;
		text-align: center;
		.login {
			float: right;
			margin-right: 12px;
		}
	}
}
@include media-query(palm){
	.footer-div {
		.widget {
			width:100%!important;
		}
	}
			
}