.home {
	.header-wrapper {
		left: 0;
		/*position: absolute;*/
		top: 0;
		z-index: 200;
	}
}
.header-wrapper {
	@extend .gray-light;
	opacity: 0.8;
	position: relative;
	width: 100%;
	z-index: 9999;
	a {
		@extend .nounderline;
	}
}
.white.header-wrapper {
	@extend .white;
	.top-wrapper {
		background-color: transparent!important;
	}
	.top-navigation-wrapper {
		@extend .white;
		border-bottom: 1px solid #ccc;
	}
}
	

#betaicon {
	top: -16px;
	position: absolute;
	cursor: pointer;
	right: 46%;
	z-index: 250;
}
	
.top-wrapper {
	
	//background-image: url("../images/slide-layer.png");
	//background-repeat: repeat;
	
	//position: relative;
	.top {
		@extend .max-width--center;
		.logo-space {
			@extend .one-fifth;
			display: inline-block;
			position: relative;
			h1 {
				@extend .visuallyhidden;
			}
			.logo {
				padding-bottom: 12px;
				padding-top: 12px;
				//width: 250px;
				//@extend .green;
				//position: absolute;
				//top: 12px;
				//border-radius: $border-radius;
				
			}
		}
		.top-links-wrapper {
			//padding-left: 250px;
			//width: 100%;
			@extend .four-fifths;
			display: inline-block;
			float: right;
			.weektext,
			.quicklinks-wrapper {	
				text-align: right;
				overflow: hidden;
				.quicklinks {
					@extend .nav;
					@extend .nav--block;
					@extend .flush--bottom;
					& > li > a {
						padding: 0;
					}
					img {
						max-height: 24px;
					}
				} 
			}
			.weektext {
				@extend .visuallyhidden--palm;
				@extend .italic;
				@extend .zeta;
			}
		}
	}
}


.quick-expand {
	display: none!important;
}


.top-navigation-wrapper {

	&.fixed {
		box-shadow: 0px 0px 10px #999;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 1000;
	}
	&.selected {
		box-shadow: none!important;
		border-bottom: 0!important;
	}
	@extend .gray-dark;
	.top-navigation {
		@extend .max-width--center;
		overflow: hidden;
		position: relative;
		.top-menu-button.selected {
			@extend .black;
			.menu-icon {
				@extend .selected-menu-icon;
			}
		}
		.top-menu-button,
		.top-search-button,
		.top-search-form,
		.breadcrumb {
			padding: 6px;
			display: inline-block;
		}
		.breadcrumb {
			margin-left: 12px;
		}
		.top-search-button {
			@extend .visuallyhidden--lap;
			@extend .visuallyhidden--desk;
			position: absolute;
			right: 0;
			top: 0;
		}
		.top-search-form {
			@extend .visuallyhidden--palm;
			position: absolute;
			right: 0;
			top: 0;
			.screen-reader-text {
				@extend .hidden;
			}
			form, div, input {
				display: inline-block;
			}
			input:focus {
				outline: none;
			}
			#s {
				@extend .gray-dark-text;
				@extend .italic;
				border-radius: 12px;
				border: 0;
				padding-left: 6px;
				
			}
			#searchsubmit {
				@extend .italic;
				@extend .gray-light-text;
				background: transparent;
				border: 0;
				
			}
		}
	}
}



@include media-query(palm){

	.logo-space {
		width: 160px!important;
	}
	
	.top-links-wrapper {
		width: 40px!important;
		&.expanded {
			width: auto!important;
		}
	}
	.quick-expand {
		display: inline-block!important;
	}

	.top-navigation {
		white-space: nowrap;
		.menu-icon {
			margin-right: 0px!important;
		}
	}
	.top-navigation-wrapper .top-navigation .top-menu-button .text {
		display: none;
	}
	.top-navigation-wrapper .top-navigation .breadcrumb {
		margin-left: 0px;
	}
}
