header {
	width: 100%;
	@extend .white-text;
}
.top-wrapper {
	@extend .black-background;
	
	@extend .nounderline;
	//position: relative;
	.top {
		@extend .max-width--center;
		.logo-space {
			@extend .one-fifth;
			display: inline-block;
			h1 {
				@extend .visuallyhidden;
			}
			.logo {
				padding-bottom: 12px;
				//width: 250px;
				//@extend .green;
				//position: absolute;
				//top: 12px;
				//border-radius: $border-radius;
				
			}
		}
		.top-links-wrapper {
			//padding-left: 250px;
			//width: 100%;
			@extend .four-fifths;
			display: inline-block;
			float: right;
			.quicklinks-wrapper {	
				text-align: right;
				.quicklinks {
					@extend .nav;
					@extend .nav--block;
					@extend .flush--bottom;
					& > li > a {
						padding: 0;
					}
					img {
						max-height: 24px;
					}
				} 
			}
		}
	}
	.top-navigation-wrapper {
		@extend .darkgray;
		.top-navigation {
			@extend .max-width--center;

			.top-menu-button.selected {
				@extend .purple;
				border-radius: 4px 4px 0 0;
				.menu-icon {
					@extend .selected-menu-icon;
				}
			}
			.top-menu-button,
			.breadcrumb {
				padding: 6px;
				display: inline-block;
			}
			.breadcrumb {
				margin-left: 12px;
			}
		}
	}
}

.searchform {
	@extend .visuallyhidden;
}

article.page {
	@extend .max-width--center;
}

