.home .header-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	background-color: transparent!important;
}
.header-wrapper {
	@extend .white-text;
	background-color: white!important;
	width: 100%;
}
.header-wrapper {
	a {
		@extend .nounderline;
	}
}
.white.header-wrapper {
	@extend .white;
	.logo-space {
		background-color: rgba(255, 255, 255, 0.4)!important;
	}
	.top-wrapper {
		background-color: transparent!important;
	}
	.top-navigation-wrapper {
		@extend .white;
	}
}
	
	
.top-wrapper {
	@extend .green-80-background;
	//background-image: url("../images/slide-layer.png");
	//background-repeat: repeat;
	
	//position: relative;
	.top {
		@extend .max-width--center;
		.logo-space {
			@extend .one-fifth;
			display: inline-block;
			h1 {
				@extend .visuallyhidden;
			}
			.logo {
				padding-bottom: 12px;
				padding-top: 12px;
				//width: 250px;
				//@extend .green;
				//position: absolute;
				//top: 12px;
				//border-radius: $border-radius;
				
			}
		}
		.top-links-wrapper {
			//padding-left: 250px;
			//width: 100%;
			@extend .four-fifths;
			display: inline-block;
			float: right;
			.quicklinks-wrapper {	
				text-align: right;
				overflow: hidden;
				.quicklinks {
					@extend .nav;
					@extend .nav--block;
					@extend .flush--bottom;
					& > li > a {
						padding: 0;
					}
					img {
						max-height: 24px;
					}
				} 
			}
		}
	}
}
.top-navigation-wrapper {
	&.fixed {
		box-shadow: 0px 0px 10px #999;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 1000;
	}
	&.selected {
		box-shadow: none!important;
	}
	@extend .black-70;
	.top-navigation {
		@extend .max-width--center;

		.top-menu-button.selected {
			@extend .black;
			.menu-icon {
				@extend .selected-menu-icon;
			}
		}
		.top-menu-button,
		.breadcrumb {
			padding: 6px;
			display: inline-block;
		}
		.breadcrumb {
			margin-left: 12px;
		}
	}
}


.searchform {
	@extend .visuallyhidden;
}

@include media-query(palm){
	.logo-space,
	.top-links-wrapper {
		width: 100%!important;
	}
	.top-navigation-wrapper .top-navigation .top-menu-button .text {
		display: none;
	}
	.top-navigation-wrapper .top-navigation .breadcrumb {
		margin-left: 0px;
	}
}
