.teaser-1 {
	bottom: 1%;
	left: 50%;
}
.teaser {
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	z-index: 100;
}

.firstpage-menu {
	@extend .black-60;
	@extend .flush--bottom;
	@extend .islet;
	@extend .one-whole;
	
	bottom: 0px;
	left: 0px;	
	position: absolute;
	a {
		margin-right: 12px;
	}
}
.menu-margin {
	padding-top: 40px;
	display: block;
}
.home {
	.top-wrapper {
		background: transparent;
		z-index: 100;
		.top {
			position: relative;
			
			.logo-space {
				left: 36px;
				padding: 12px;
				position: absolute;
				top: 16px;
				width: auto;
				z-index: 100;
			}
		}
	}
	.page {
		width: 100%;
		max-width: 100%;
	}
	.page-wrapper {
		padding-top: 0px;
		background: white;
	}
}

@include media-query(palm){
	.home {
		.top-wrapper {
			.top {
				.logo-space {
					width: 60%!important;
					padding: 6px;
					margin-top: 24px;
					img {
						max-width: 100%;
					}
				}
			}
		}
		.teaser:not(.teaser-1) {
			display: none!important;
		}
	}
}

