.teaser-1 {
	@extend .white-text;
	@extend .gamma;
	bottom: 1%;
	cursor: pointer;
	left: 50%;
	line-height: 1.3em;
	opacity: 0.8;
	padding: 35px 10px 0;
	position: absolute;
	text-align: center;
	z-index: 100;
}
.firstpage.slideshow {
	position: relative;
	.slide-layer {
		background: url("../images/slide-layer.png") repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 90;
	}
}
.slideshow {
	overflow: hidden;
}
.home .page {
	width: 100%;
	max-width: 100%;
}
.modules-wrapper {
	.module {
		@extend .max-width--center;
		.items {
			@extend .grid;
			.item {
				@extend .grid__item;
				@extend .one-third;
				.wp-post-image {
					max-width: 100%;
				}
			}
		}
	/*
		&.nyheter-module {
			.items {
				.item {
					overflow: hidden;
					position: relative;
					.item-content {
						position: absolute;	
						padding-left: 24px;
						top: 0;
						left: 0;
						z-index: 10;
					}
				}
			}
		}
		*/
	}
}