.clip {
	background-image: url("../images/ikoner.svg");
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
$clip-sizes: 80 48 40 30 24 20 16 12;

@each $size in $clip-sizes {
    .clip_#{$size}x#{$size} {
		@extend .clip;
		width: #{$size}px;
		height: #{$size}px;
	}
}

.menu-icon {
	@extend .clip_24x24;
	margin-right: 6px;
	background-position: -82px -42px;
}
.selected-menu-icon {
	@extend .clip_24x24;
	margin-right: 6px;
	background-position: -122px -42px;
}
.home-icon {
	@extend .clip_24x24;
	background-position: -2px -42px;
}

.slideshow-navigation {
	@extend .clip_16x16;
	margin: 6px;
}
.play-icon {
	@extend .slideshow-navigation;
	background-position: -62px -82px;
}
.pause-icon {
	@extend .slideshow-navigation;
	background-position: -92px -82px;
}
.dot-icon {
	@extend .slideshow-navigation;
	background-position: -32px -82px;
}
.active-dot-icon {
	@extend .slideshow-navigation;
	background-position: -2px -82px;
}



















/* program ikoner */
.program-icon {
	background-image: url("../images/program-ikoner.svg");
}
#ie7 .program-icon,
#ie8 .program-icon {
	background-image: url("../images/program-ikoner.png");
}
.quick-icon {
	background-image: url("../images/quick-ikoner.svg");
}
#ie7 .quick-icon,
#ie8 .quick-icon {
	background-image: url("../images/quick-ikoner.png");
}

.quick-icon {
	@extend .clip_40x40;
}
.program-icon {
	@extend .clip_80x80;
}

@for $i from 0 through 19 {
	.quick-#{$i+1} {
		background-position: -$i*40px 0px; 
		&.hover,
		&:hover {
			background-position: -$i*40px -40px; 
		}
	}
	.program-#{$i+1} {
		background-position: -$i*80px 0px; 
		&.hover,
		&:hover {
			background-position: -$i*80px -80px; 
		}
	}
} 
