
.main-menu {
	//border-bottom: 3px solid $purple;
}
.pre-footer,
.main-menu {
	@extend .one-whole;
	@extend .black;
}
.main-menu .main-menu-wrapper {
	@extend .hidden;
}

.main-menu-wrapper {	
	@extend .epsilon;
	@extend .max-width--center;
	@extend .nounderline;
	padding: 24px 0;
	span.menu-icon {
		margin: 0 0 24px;
	}
	.menu-title-wrapper, .menu-head, .menu-title {
		@extend .beta;
		@extend .italic;
		display: inline-block;
	}
	.menu-title, .menu-title-wrapper {
		height: 66px;
	}
	.menu-title {
		height: 34px!important;
		line-height: 34px!important;
		vertical-align: top;
		padding-top: 20px;
	}
	ul {
		list-style-type: none;
		&.children {
			margin-left: 0px;	 
			.children {
				margin-left: 24px;
			}
		}
	}
	.menu {
		a {
			padding: 0 3px;
			margin: 6px 3px;
			display: inline-block;
			border-radius: $border-radius;
		}
		
		@extend .grid;
		& > li {
			@extend .grid__item;
			.expand {
				cursor: pointer;
				padding: 6px;
				font-weight: bold;
			}
		}
		&.cols-2 {
			& > li {
				@extend .one-half;
			}
		}
		&.cols-3 {
			& > li {
				@extend .one-third;
			}
		}
		&.cols-4 {
			& > li {
				@extend .one-quarter;
			}
		}
		&.cols-5 {
			& > li {
				@extend .one-fifth;
			}
		}
	}
	.tags {
		margin: 0px 0 -10px;
	}
	.current_page_item > a {
		@extend .white-background;
		@extend .black-text;
	}
}
@include media-query(palm){
	.menu {
		&.cols-2,
		&.cols-3,
		&.cols-4,
		&.cols-5 {
			& > li {
				width:100%!important;
				padding-top: 24px;
			}
		}
	}
			
}
