
.module-wrapper {
	padding-top: 24px;
	padding-bottom: 24px;
	.module {
		@extend .max-width--center;
	}
	&.text-module-wrapper {
		h1, h2, a {
			color: inherit!important;
		}
	}
	&.nyheter-module-wrapper {
		h1 {
			@extend .black-text;
		}
		.items {
			@extend .grid;
			.item {
				@extend .grid__item;
				@extend .one-third;
				@extend .palm-one-whole;
				position: relative;
				.wp-post-image {
					max-width: 100%;
					img {
						margin: 0 auto;
						display: block;
					}
					//@extend .drop-shadow;
				}

				.item-content {
					@include media-query(palm) {
						text-align: center;
					}
					@extend .white-40;
					@extend .one-whole;
					bottom: 6px;
					left: 24px;
					
					//position: absolute;
					z-index: 99;
					
					a {
						@extend .nounderline;
					}
					h2 {
						@extend .delta;
						@extend .islet;
						@extend .flush--bottom;
						font-weight: normal;
					}
				}
			}
		}
	}
	&.facebook-module-wrapper {
		.module {
			@extend .small-max-width--center;
		}

		/* facebook colors */
		//background: #3b5998 url('../images/facebook.png') no-repeat 90% 10px;
		background: #3b5998;
		
		/*border-bottom: 1px solid #133783;
		box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);*/
		
		h1 {
			@extend .white-text;
			margin-left: 6px;
			padding-top: 74px;
			background: url("../images/facebook.png") no-repeat 90% 10px;
			background-clip: padding-box;
			padding-bottom: 6px;
			margin-bottom: 0;
			margin-top: 0px;
		}
		.fb-page-name {
			@extend .hidden;
		}
		.fb-feed-item {
			@extend .white;
			@extend .islet;
			margin-bottom: 8px;
			border-radius: 2px;
			.item-content {
				@extend .cf;
				overflow: hidden;
				padding: 12px;
			}
			img {
				float: left;
				margin-right: 12px;
			}
			blockquote {
				@extend .cf;
				quotes: "";
				padding: 6px;
				/*border: 1px solid #ccc;*/
				/*background: rgba(230,230,230,0.7);*/
			}
			.caption {
				@extend .hidden;
			}
			
			&.fb-item-2,
			&.fb-item-3,
			&.fb-item-4,
			&.fb-item-5,
			&.fb-item-6,
			&.fb-item-7,
			&.fb-item-8,
			&.fb-item-9 {
				@extend .hidden;
			}
		}
		.fb-loader {
			background-image: url('../images/fb-loader.gif');
			background-repeat: no-repeat;
			background-position: center center;
		}
		.fb-load-button {
			@extend .islet;
			background-color: rgba(230,230,230,0.9);
			cursor: pointer;
		}

	}
}