
.module-wrapper {
	padding-top: 24px;
	padding-bottom: 24px;
	.module {
		@extend .max-width--center;
	}
	&.text-module-wrapper {
		h1, h2, a {
			color: inherit!important;
		}
	}
	&.bildspel-module-wrapper {
		&:first-child {
			padding-top: 6px!important;
		}
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		.bildspel-module {
			max-width: 100%;
		}
	}
	&.nyheter-module-wrapper {
		.nyheter-module.module {
			@extend .small-max-width--center;
		}

		h1 {
			@extend .black-text;
		}
		.items {
			@extend .grid;
			.item {
				@extend .grid__item;
				@extend .one-third;
				@extend .palm-one-whole;
				position: relative;
				.tags {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					font-size: 12px;
					.tag {
						float: left;
						margin: 2px 2px 2px 0;
					}
				}
				.wp-post-image {
					max-width: 100%;
					img {
						margin: 0 auto;
						display: block;
					}
					//@extend .drop-shadow;
				}

				.item-content {
					@include media-query(palm) {
						text-align: center;
					}
					@extend .white;
					@extend .one-whole;
					bottom: 6px;
					left: 24px;
					
					//position: absolute;
					z-index: 99;
					
					a {
						@extend .nounderline;
					}
					h2 {
						@extend .delta;
						@extend .islet;
						@extend .flush--bottom;
						font-weight: normal;
					}
				}
			}
		}
	}
	&.program-module-wrapper {
		.program-module.module {
			@extend .small-max-width--center;
		}
	}
	&.facebook-module-wrapper {
		.module {
			@extend .small-max-width--center;
		}

		/* facebook colors */
		//background: #3b5998 url('../images/facebook.png') no-repeat 90% 10px;
		background: #3b5998;
		
		/*border-bottom: 1px solid #133783;
		box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);*/
		
		h1 {
			@extend .white-text;
			margin-left: 6px;
			padding-top: 74px;
			/*background: url("../images/facebook.png") no-repeat 90% 10px;*/
			background-clip: padding-box;
			padding-bottom: 6px;
			margin-bottom: 0;
			margin-top: 0px;
			position: relative;
			.fb-logo {
				position: absolute;
				bottom: 0px;
				right: 20px;
			}

		}
		.fb-page-name {
			@extend .hidden;
		}
		.fb-feed-item {
			@extend .white;
			@extend .islet;
			border-radius: 2px;
			margin-bottom: 8px;
			overflow: hidden;
			position: relative;
			border-left: 4px solid #3b5998;
			border-right: 4px solid #3b5998;
			.expand-item {
				@extend .one-whole;
				background: rgba(255,255,255,0.9);
				cursor: pointer;
				left: 0px;
				padding: 0 12px;
				position: absolute;
				top: 186px;
			}
			.item-content {
				@extend .cf;
				overflow: hidden;
				padding: 12px;
			}
			img {
				float: left;
				margin-right: 12px;
			}
			blockquote {
				@extend .epsilon;
				@extend .cf;
				quotes: "" "";
				padding: 6px;
				/*border: 1px solid #ccc;*/
				/*background: rgba(230,230,230,0.7);*/
			}
			.caption {
				
			}
			
			&.fb-item-3,
			&.fb-item-4,
			&.fb-item-5,
			&.fb-item-6,
			&.fb-item-7,
			&.fb-item-8,
			&.fb-item-9 {
				@extend .hidden;
			}
		}
		.fb-loader {
			background-image: url('../images/fb-loader.gif');
			background-repeat: no-repeat;
			background-position: center center;
			border-left: 4px solid #3b5998;
			border-right: 4px solid #3b5998;
		}
		.fb-load-button {
			@extend .islet;
			background-color: rgba(230,230,230,0.9);
			border-left: 4px solid #3b5998;
			border-right: 4px solid #3b5998;
			cursor: pointer;
		}

	}
}