.page-wrapper {
	padding-top: 30px;
	background: white url("../images/background.png") repeat;
	padding-bottom: 30px;
}
article {
	@extend .white-background;
	.block-wrapper {
		@extend .grid;
		.related-wrapper,
		.contacts-wrapper {
			@extend .grid__item;
			@extend .one-half;
			@extend .palm-one-whole;
		}
	}
}
.author,
time.time {
	@extend .zeta;
	margin-top: -28px;
	display: block;
	padding-bottom: 28px;
}
.single article.page,
.page article.page{
	@extend .max-width--center;
 	@extend .island;
	box-shadow: 0px 0px 15px #999;
}

article.page{
	.content-wrapper {
		@extend .small-max-width--center;
		margin-top: 24px;
		margin-bottom: 24px;
	}
}


