
.program-icons {
	@extend .nav;
	@extend .nav--block;
	@extend .nav--banner;
	@extend .flush--bottom;
	padding: 12px 0;
	white-space: normal;
	& > li > a {
		padding: 0;
	}
	img {
		max-height: 40px;
	}
}
.pre-footer-program {
	//@extend .black;
	@extend .gray-dark;
	@extend .large-space;
}
