
.related-wrapper {
	h2 {
		@extend .italic;
		@extend .flush--bottom;
		color: #666;
		font-weight: normal;

	}
	.related {
		@extend .black-text;
		@extend .black-30-background;
		@extend .islet;
		margin-bottom: 12px;
		.heading {
			@extend .italic;
			font-weight: bold;
		}
		a {
			display: block;
		}
	}
}