
.related-wrapper {
	h2 {
		@extend .italic;
		@extend .flush--bottom;
		color: #666;
		font-weight: normal;
		padding-bottom: 6px;
	}
	.related {
		@extend .black-text;
		@extend .gray-light-background;
		@extend .islet;
		margin-bottom: 12px;
		h2.title {
			@extend .delta;
			@extend .black-text;
			margin-top: 12px;
		}
		span, a {
			display: block;
		}
		.icon {
			float: left;
			margin: 2px 6px 0 0;
		}
	}
}