

// .top-search-button {
	// @extend .visuallyhidden--lap;
	// @extend .visuallyhidden--desk;
	// position: absolute;
	// right: 0;
	// top: 0;
// }
.top-search-button {
	@include media-query(lap-and-up){
		display: none;
	}
	a {
		display: flex;
		align-items: center;
	}
}

.top-search-form {
	@include media-query(palm){
		display: none!important;
	}
	// @extend .visuallyhidden--palm;
	// position: absolute;
	// right: 0;
	// top: 0;
	.search-form {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.screen-reader-text {
		@extend .hidden;
	}
	input:focus {
		outline: none;
	}
	.search-field {
		@extend .gray-dark-text;
		@extend .italic;
		border-radius: 12px;
		border: 0;
		padding-left: 12px;
		height: 24px;
	}
	.search-submit {
		// @extend .italic;
		// @extend .gray-light-text;
		@extend .search-icon;
		background-color: transparent;
		border: 0;
		color: transparent;
		margin-left: -24px;
	}
}

.search {
	ol {
		list-style-type: none;
		margin-left: 0;
	}
	.author {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

}
.pre-footer-search {
	@extend .gray-dark;
	@extend .flush--bottom;
	.search-icon {
		display: inline-block;
		vertical-align: top;
	}
	input {
		@extend .white-text;
		background: transparent;
	}
	input.search-field {
		@extend .gray-dark-text;
		border: 1px solid $gray-light;
	}
	input.search-submit {
		@extend .clip_48x48;
		background-position: -311px -111px;
	
		// @extend .search-icon;
		color: transparent;
		// @include media-query(lap-and-up){
		// 	transform: scale(2);
		// }
	}

}

.search-wrapper {
	input {
		@extend .gray-dark-text;
		background: transparent;
	}
	input.search-field {
		@extend .green-text;
		border: 1px solid $green;
	}
}

.search-wrapper,
.pre-footer-search {
	@extend .island;
	// @extend .flush--bottom;
	// @extend .large-space;
	// text-align: center;
	.search-form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		@include media-query(palm){
			gap: 40px;
		}
	}
	input.search-field {
		@extend .white-background;
		@extend .palm-one-whole;
		padding-left: 12px; 
	}
	input {
		@extend .beta;
		@extend .italic;
		font-size: 38px;
		border: 0;
		border-radius: 30px;
		&:focus {
			outline: 0;
		}
	}
}
// .search-submit,
.screen-reader-text {
	display: none;
}

@include media-query(palm){
	// .pre-footer-search {
	// 	text-align: left;
	// 	.search-form {
	// 		width: 100%;
	// 		input.search-field {
	// 			width: 90%;
				
	// 		}
	// 	}
	// }
}
