.home .slideshow-wrapper {
	@extend .one-whole;
	@include media-query(palm) {
		margin: 0px!important;
	}
}

.slideshow-wrapper {
	z-index: 1;
	.slideshow {
		@extend .white;
		overflow: hidden;
		.slides {
			line-height: 0;
			.slidesjs-play,
			.slidesjs-stop {
				@extend .force-hidden;
				z-index: 200;
			}
			.slidesjs-pagination {
				z-index: 200;
			}
		}

		
	}
}
/* only on firstpage */
.slideshow.firstpage {
	@extend .gray-light;
	height: 530px;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	/*height: 800px;*/
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 100%;
	.slidesjs-pagination {
		display:none;
	}
	.slide-layer {
		background: url("../images/slide-layer.png") repeat fixed;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 90;
		width: 4000px;
		height: 4000px;
	}
}

.slide-item {
	display: none;
}
.slide-item:nth-child(1) {
	display: inline-block;
}

article.page{
	.slideshow-wrapper {
	
		@extend .drop-shadow;
		position: relative;
		.picto {
			position: absolute;
			right: 20px;
			top: 20px;
			opacity: 0.9;
			z-index: 100;
			max-width: 300px;
			max-height: 300px;
			@include media-query(palm) {
				& {
					max-width: 80px;
					max-height: 80px;
				}
			}
		}
		.slideshow {
			ul, li, a {
				content: '';
				display: inline-block;
			}
			.slidesjs-navigation {
				position: absolute;
				bottom: -32px;
				left: 10px;

				&.slidesjs-stop {
					@extend .pause-icon;
				}
				&.slidesjs-play {
					@extend .play-icon;
				}
			}
			.slidesjs-previous {
			}
			.slidesjs-next {
			}
			.slidesjs-pagination {
				@extend .visuallyhidden--palm;
				margin: 0;
				position: absolute;
				bottom: -32px;
				left: 20px;
				.slidesjs-pagination-item a {
					@extend .active-dot-icon;
					&.active {
						@extend .dot-icon;
					}
				}
			}
		}
	}
}



.film_roll_wrapper {
	@extend .gray-dark;
   display: block;
   text-align: center;
   float: none;
   position: relative;
   top: auto;
   right: auto;
   bottom: auto;
   left: auto;
   z-index: auto;
   width: 100%;
   margin: 0 !important;
   padding: 0 !important;
   overflow: hidden;
   width: 100%;
}
.film_roll_shuttle {
   text-align: left;
   float: none;
   position: absolute;
   top: 0;
   left: 0;
   right: auto;
   bottom: auto;
   margin: 0 !important;
   padding: 0 !important;
   z-index: auto;
}
.film_roll_shuttle.vertical_center:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em;
}
.film_roll_child {
	margin: 6px 12px 0;
  position: relative;
  display: inline-block;
  *display:inline;
  vertical-align:middle;
  zoom:1;
}
.caption {
	display: none;
}
.slide-wrapper .caption,
.active .caption {
	@extend .gray-light;
	@extend .italic;
	@extend .zeta;
	border-radius: 20px;
	display: block;
	line-height: 16px;
	padding: 3px 12px;
	position: absolute;
	right: 12px;
	bottom: 12px;
}
.film_roll_prev, 
.film_roll_next,
.film_roll_pager {
   display: none;
}
